<div class="container">     
    <header>EXCHANGE RATE TABLE</header>
    <div class="d-flex justify-content-center buttons-wrapper my-3">
        <button type="button">EDIT</button> 
        <button type="button">UPDATE</button>
        <button type="button">DELETE</button>
      </div>
    <table class="table table-bordered">
      <thead>
        <tr>
            <th>Id</th>
            <th>Currency-From</th>
            <th>Currency-To</th>
            <th>Exchange Rates</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>USD</td>
          <td>INR</td>
          <td>74.34725</td>
        </tr>
        <tr>
          <td>2</td>
          <td>INR</td>
          <td>USD</td>
          <td>0.01345</td>
        </tr>
        <tr>
          <td>3</td>
          <td>GBP</td>
          <td>EUR</td>
          <td>1.20029</td>
        </tr>
        <tr>
          <td>4</td>    
          <td>EUR</td>
          <td>INR</td>
          <td>84.38294</td>
        </tr>
        <tr>
            <td>5</td>    
            <td>JPY</td>
            <td>GBP</td>
            <td>0.00638</td>
          </tr>
      </tbody>
    </table>
</div>
  
